body {
  -webkit-font-smoothing: antialiased;
}

a,
a:active
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.ui-dialog {
  outline: none;
}
.ui-dialog select.dropdown {
  height: auto;
  padding: 1px 1.571em 1px 0.5em;
}
.file .field__item img {
  width: 100%;
}
.draggable .ui.input {
  width: 100%;
}
