.eb-tabs ul {
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(34,36,38,.15)
}
.eb-tabs ul li {
  margin-right: 1.5em;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: -1px;
}
.eb-tabs ul li a {
  color: rgba(0, 0, 0, .85);
  padding: .75em 0.5em;
}
.eb-tabs ul li.active {
  border-bottom: 1px solid #1B1C1D;
  font-weight: bold;
}
.eb-tabs ul li.active a {
  /*color: #2185D0;*/
}

.file-browser-actions {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
}
.grid-item {
  box-shadow: none;
  margin-bottom: 24px;
  cursor: pointer;
  border: 2px solid #e4e4e4;
  background: #f8f8f8;
}
.grid-item:hover {
  border: 2px solid #2185D0;
}
.grid-item.checked {
  border: 2px solid #2185D0;
}
.grid-item-info-left, .grid-item-info-right {
  padding: 8px 16px;
  color: #9c9c9c;
}
.grid-item-info-left {
  white-space: normal;
}
.grid-item-info {
  background-color: #f8f8f8;
  position: relative;
}
